
  


<%= f.hidden_field :id %>
<%= f.label :name %><br>
<%= f.text_field :name, class: "NAME" %>
<br>
<%= f.label :email %>
<%= f.text_field :email %>
<br>
<%= f.label :password %>
<%= f.text_field :password %>
<br>
<%= f.submit "Create User" %> 
<% end %>


<% if @user.errors.any? %>
<h1> ERRORS: </h1>

<% @user.errors.full_messages.each do |message| %>
<ul>
<li><%= message %></li>
</ul>
<%end%>
<%end%>